[color]
    ui = true
[user]
    name = Cristian Lluis
    email = cristian@lluis.ch
[push]
    default = simple
[core]
    autocrlf = input
    editor = code --wait
    excludesfile = ~/.gitignore_global
[pull]
    rebase = true
